* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #270220;
  font-family: "Open Sans", helvetica, sans-serif;
  position: relative;
  color: #444;
}

:root {
  --dark-purple: #270220;
  --purple-link: #84446b;
  --border-purple: #5e324d;
}

body {
}
