.audioPlayer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid 1px $border-purple;
  background-color: $dark-purple;
  z-index: 5000;
  color: #ddd;
  padding: 0 2rem;
  height: 60px;
  .audioControl {
    cursor: pointer;
    padding: 0 0.5rem;
    transition: all 400ms ease-in-out;
    :hover {
      opacity: 0.8;
    }
  }
}

.playerControls {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.playControl {
  width: 20px;
  height: 20px;
  background-image: url("../images/playbutton.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.pauseControl {
  width: 20px;
  height: 20px;
  background-image: url("../images/pausebutton.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left -20;
}

.playWrapper {
  background-color: $dark-purple;
  width: 40px;
  height: 40px;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  .playControl {
    height: 40px;
    width: 40px;
    background-position: center;
  }
}

.playinfo {
  min-width: max-content;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  h3,
  h2 {
    font-weight: 500;
  }
}

.sliderHolder {
  width: 100%;
  height: 1rem;
  border: 1px solid black;
  background-color: #fff;
  margin: 0 1rem;
  display: flex;
  align-self: center;
}

.sliderHolder:hover {
  cursor: pointer;
}

.sliderInner {
  background-color: #888;
  height: 100%;
  width: 0;
  transition: width 0.3 ease-in-out;
}

.time {
  display: inline-flex;
  font-family: monospace;
  align-items: center;
  padding-left: 3rem;
  flex-grow: 1;
}

#vol {
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60px;
}

.volumeControl {
  width: 100%;
  max-width: 6rem;
  height: 1rem;
  border: 1px solid black;
  background-color: #fff;
  margin: 0 1rem;
  display: flex;
  align-self: center;
}

#volumeInner {
  background-color: #888;
}

.volControls {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    width: max-content;
  }
  span {
    padding: 0.2rem;
    margin: 0.25rem;
    font-size: 1rem;
  }

  span:hover {
    cursor: pointer;
  }
}

.volIcon {
  width: 20px;
  height: 20px;
  background-image: url("../images/speaker.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left -20;
  position: relative;
  transition: all 400ms ease-in-out;
}

.volIcon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.volSlider {
  position: absolute;
  bottom: 60px;
  background-color: $dark-purple;
  border-bottom: 2px $border-purple solid;
  width: 40px;
  height: min-content;
  display: flex;
  flex-direction: column;
}

.volSetting {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  &:hover {
    cursor: pointer;
    border-top: 1px solid #fff;
  }
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 5px;
  z-index: 1;
  transition: height 300ms ease-in-out;
}
