$dark-purple: #270220;
$purple-link: #84446b;
$border-purple: #5e324d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-purple;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, Ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  position: relative;
  color: #444;
  padding: 0;
}

section {
  width: 100%;
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4.5rem 1rem 6rem 1rem;
  max-width: 1000px;
}

p {
  margin-bottom: 1.5rem;
}

img {
  width: 100%;
  max-width: 100vw;
}

.App {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  li {
    list-style: none;
  }
}
