.navbar {
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $border-purple;
  background-color: $dark-purple;
  z-index: 5000;
  align-items: center;
  div {
    width: max-content;
  }
  .navcontent {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 5000;
  }
  a {
    color: #fff;
    text-decoration: none;
    h2 {
      font-family: sans-serif;
      font-weight: normal;
    }
  }
  ul {
    display: inline-flex;
    list-style: none;
    align-items: center;
    padding: 0;
    z-index: 5000;
    div {
      color: #fff;
      text-decoration: none;
      z-index: 5000;
    }
    div:hover {
      cursor: pointer;
    }
    .navElement {
      padding-left: 1rem;
    }
  }
}

.playlist {
  right: 0;
  top: 2.3rem;
  position: absolute;
  width: 100%;
  max-width: 1000px;
  display: inline-flex;
  justify-content: flex-end;
  background-color: $border-purple;
  padding: 0;
  margin: 0 0.6rem 0 0;
  ul {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: flex-start;
    z-index: 1;
    li {
      padding: 0 0 0.5rem 0;
      z-index: 1;
    }
    li:last-child {
      padding-bottom: 0;
    }
  }
}
