.navbar {
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #333;
  background-color: $dark-purple;
  z-index: 5000;
  align-items: center;
  div {
    width: max-content;
  }
  .navcontent {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  a {
    color: #fff;
    text-decoration: none;
    h2 {
      font-family: sans-serif;
      font-weight: normal;
    }
  }
  ul {
    display: inline-flex;
    list-style: none;
    align-items: center;
    padding: 0;
    li {
      padding-left: 1rem;
      color: #fff;
      text-decoration: none;
    }
    li:hover {
      cursor: pointer;
    }
  }
}
